<p id="notice"><%= notice %></p>
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
  // Create the data table.
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Type');
  data.addColumn('number', 'Count');
  data.addRows([
  <% @user.commit_count_by_type.each_with_index do |type,i| %>
  <% if i < @user.commit_count_by_type.size %>
     ['<%= type[:name] %>',<%= type[:count] %>],
  <% else %>
      ['<%= type[:name] %>',<%= type[:count] %>]
  <% end %>
  <% end %>
  ]);
  var options = {'width':360,'height':300};
  
  var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
  chart.draw(data, options);
  }
</script>
<!--end Load-->
<div data-role="header" data-position="inline" data-nobackbtn="true">
  <%= link_to 'Back', users_path , {"class" => "ui-btn-left", "data-icon" => "back"} %>
  <h1><%= @user.name %></h1>
  <%= link_to 'Edit', edit_user_path(@user) , {"class" => "ui-btn-right", "data-icon" => "check"} %>
</div>

<ul data-role="listview">
  <img src="<%= @user.image %>" />
  <% if @user.has_twitter? %>
  <li data-role="list-divider">Twitter</li>
  <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/follow_button.html?screen_name=<%= @user.twitter%>&show_count=false" style="width:300px; height:20px;"></iframe>
  <% end %>
  <li data-role="list-divider">Email</li>
  <li><%= @user.email %></li>
  <li data-role="list-divider">LookingType</li>
  <% @user.looking.each do |look| %>
  <li><%= look %></li>
  <% end %>
  <li data-role="list-divider">CommitLogInfo</li>
  <div id = "chart_div" align="center">
  </div>
</ul>
