<p id="notice"><%= notice %></p>

<p>
  <b>Commit at:</b>
  <%= @commit_log.commit_at %>
</p>

<p>
  <b>User:</b>
  <%= @commit_log.user_id %>
</p>

<p>
  <b>Type:</b>
  <%= @commit_log.type_id %>
</p>


<%= link_to 'Edit', edit_commit_log_path(@commit_log) %> |
<%= link_to 'Back', commit_logs_path %>
