<h1>Listing looking_types</h1>

<table>
  <tr>
    <th>User</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @looking_types.each do |looking_type| %>
  <tr>
    <td><%= looking_type.user_id %></td>
    <td><%= looking_type.type_id %></td>
    <td><%= link_to 'Show', looking_type %></td>
    <td><%= link_to 'Edit', edit_looking_type_path(looking_type) %></td>
    <td><%= link_to 'Destroy', looking_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Looking type', new_looking_type_path %>
